/* Navbar bg color */
.navbar-light {
    background-color: rgb(11, 33, 61);
}
/* Navbar brand and links text color */
a.navbar-brand, .nav-link {
    color: white !important;
}
/* Navbar links text to uppercase */
.navbar-nav li {
    padding-right: 35px;
    text-transform: uppercase;
}
/* Navbar links hover color */
.links123:hover {
    background: #ffc107;
    border-radius: .2rem;
    padding-left: 10px;
}
.active > a {
    background: #ffc107;
    border-radius: .2rem;
    padding-left: 10px;
}

/* Div with H1 and button (mainPanelTop) / Relative position top (-Xpx) */
.headerDiv {
    padding-left: 45px;
    position: relative;
    top: 20px;
}
/* H1 mainPanelTop */
h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 70px;
    line-height: 72px;
    font-weight: 50;
    color: rgb(11, 33, 61);
    padding-bottom: 10px;
}

/* Software text color - Variables.scss //
.headerTextColor {
    color: #00b9e2 !important;
} */

/* Button text color */
.buttonTextInfoBox {
    color: #ffffff;
    margin: 10px 0 20px;
}
/* Button text color hover */
.buttonTextInfoBox:hover {
    color: #ffffff;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 768px) {
    h1 {
        font-size:44px;
    }
}
@media screen and (max-width: 628px) {
    h1 {
        font-size:34px;
    }
}
@media screen and (max-width: 528px) {
    h1 {
        font-size:24px;
    }
}

/* Background image (mainPanelTop) */
#imageTop {
    background-repeat: no-repeat;
    background-image: url("../images/creativeDeveloper.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1; 
    visibility: inherit;
    z-index: 20;
    padding-top: 200px;
    padding-bottom: 200px;
}

/* div with 3 info boxes under imageTop */
.mainTop {
    margin: auto;
    position: relative;
    top: 180px;
}
/* 3 info boxes styling */
.divPadding {
    /* background-color: lightskyblue; */
    background-image: url("../images/columnbg.png");
    background-repeat: no-repeat;
    background-position: center top;
    padding: 40px 40px 25px;
    margin-right: 10px !important;
    margin-bottom: 20px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
/* 3 info boxes pricing */
.rate {
    color: #fff;
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: 0px;
}
/* Subline rates */
.subLineRate {
    color: #00bae1;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.h4Line {
    color: #fff; 
    border-top: 2px solid rgba(255,255,255,.2); 
    padding-top: 35px;
    margin-top: 20px;
    clear: both;
}
/* divPadding P elements SCSS nesting //
.divPadding p {
    color: #b7daed;
    margin: 0 0 15px;
} */

/*IconSection styling */
.headerH2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: 0px;
    color: rgb(11, 33, 61);
    margin-top: 100px;
    margin-bottom: 60px;
}
/* iconsSectionRow width */
.iconsSectionRow {
    width: 80%;
    margin: auto;
}
.imageIcons {
    align-content: left !important;
}
div.col-lg-6 {
    margin-bottom: 60px;
}
.col-md-9 {
    padding-left: 50px;
}

/* Testimonials section styling */
#testimonials {
    margin-top: -70px;
}
.testimonialsSectionRow {
    width: 100%;
    padding-right: 50px;
}
.colTestimonials {
    padding: 40px 40px 10px;
    background-color: #f3f9fd;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}
/* Hr line styling */
.no_line {
    border: none;
    height: 0;
    width: 100%;
}
blockquote {
    background: none;
    line-height: 25px;
    font-style: italic;
    padding-top: 20px;
    padding-left: 20px;
}
.TestimonialUser > i {
    padding: 10px 10px;
}
/* Styling <li> next to testimonials column */
.listItemsColumn {
    background-color: #ffffcc;
    padding-top: 25px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 25px;
}
.listItems > li {
    padding-bottom: 5px;
}
/* Media queries for different screen sizes <li> listItemsRow */
@media screen and (max-width: 1100px) {
    .listItemsRow {
        width: inherit;
        margin: 20px auto;
    }
}
@media screen and (max-width: 800px) {
    .listItemsRow {
        width: inherit;
        margin: 20px auto;
    }
}
@media screen and (max-width: 628px) {
    .listItemsRow {
        width: inherit;
        margin: 20px auto;
    }
}
@media screen and (max-width: 528px) {
    .listItemsRow {
        width: inherit;
        margin: 20px auto;
    }
}

/* Footer section styling */
#footerSection {
    background-color: #1a4891;
    width: 100%;
    margin: auto;
    margin-top: 80px;
}
/* SCCS inheritance //
.footer1, .footer2, .footer3, .footer4 {
    margin-top: 80px;
} */
.footerBranding {
    font-size: 40px;
    color: #b5b5b5;
}
.footer1 a:hover {
    text-decoration: none;
}
<<<<<<< HEAD
/* SCSS inheritance //
=======
>>>>>>> 85376acd079f67367a31373a5d4544d6ada41982
.fa-globe, .footerText, .footer2, .footer3, .footer4 h2 {
    color: #b5b5b5; 
} */
.footerIcons {
    font-size: 18px; 
    line-height: 18px; 
    letter-spacing: 10px;
    /* text-align: left; */
    padding-left: 30px;
}
.fa-facebook-f, .fa-twitter, .fa-youtube {
    color: #00bae1;;
}
p.footerText  {
    /* text-align: left; */
    padding-left: 30px;
}

/* Footer <li> styling */
<<<<<<< HEAD

=======
>>>>>>> 85376acd079f67367a31373a5d4544d6ada41982
.footerUl {
    font-weight: 700;
    padding-left: 0 !important;
}
.footerUl > li {
    padding-bottom: 10px;
    list-style: none;
}
.footerUl > li > a {
    color: white;
}
.listArrows {
    color: #00bae1; 
    margin-right: 10px;
}

/* Footercopy styling */
.footerCopy {
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 30px 0 30px 0;
}
.RomeroLijkwan {
    color: white;
}

/* About.html page imageTopAboutUs styling */
#imageTopAboutUs {
    background-repeat: no-repeat;
    background-image: url("../images/aboutUs.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1; 
    visibility: inherit;
    z-index: 20;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
/* H1 styling */
.aboutUsheader {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 70px;
    line-height: 72px;
    font-weight: 50;
    color: white;
    padding-top: 40px;
}

/* About us body styling (image bg) */
#aboutUsBody {
    background-repeat: no-repeat;
    background-image: url("../images/aboutBg.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1; 
    visibility: inherit;
    z-index: 20;
}
.aboutUsRow {
    width: 85%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 80px;
}
.missionAboutUs:before {
    display: inline-block;    
    position: relative;
    top: .1em;
    width: .9em;
    height: .9em;
    margin-right: .45em;
    content: '';
}
.visionAboutUs:before {
    display: inline-block;
    position: relative;
    top: .1em;
    width: .9em;
    height: .9em;
    margin-right: .45em;
    content: '';
}
.paraGraph1 {
    padding-top: 20px;
}

/* Footer styling About.html page */
#footerSectionAboutUsPage {
    background-color: #1a4891;
    width: 100%;
    margin: auto;
    margin-top: 0px;
}

/* Contact page styling */
#GoogleMaps {
    width:100%;
    height:400px;
    margin-top: 20px;
}
